{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h2>Login</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <form action="/login" method="POST">
            <!-- the login form goes here -->    
            <p>Username:</p>
            <input type="text" name="usernameloginentered" required>    
             <button type="submit" class="loginButton">Login</button>
        </form>
    </section>
    <div class="or-element">
        <p>OR</p>
    </div>
    <!-- say --OR-- ... with style -->
    <section class = "register-area">
        <h2>Register</h2> 
        <!-- errors will appear here -->
        {{#if regError}}
            <p style="color: red;">{{regError}}</p>
        {{/if}}
        <form action="/register" method="POST">
            <!-- the registration form goes here -->
            <p>Username:</p>
            <input type="text"  name="registeredusername" required>
            <button type="submit" class="registerButton">Register</button>
        </form>
    </section>
</section>