{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h2>Login with Google</h2>
        <a id="loginbutton" href="/auth/google">Sign In with Google</a>
    </section>
</section>
