{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h1>Login with Google</h1>
        <a href="/auth/google"><button class="loginButton">Sign In with Google</button></a>
    </section>
</section>
