{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "register-area" id="logout-area">
        <h2>You Have Successfuly Logged Out!!!</h2>       
    </section>
</section>